<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>Servlet1</servlet-class>
		<init-param>
			<param-name>X</param-name>
			<param-value>100</param-value>
		</init-param>
		<init-param>
			<param-name>Y</param-name>
			<param-value>555</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>s2</servlet-name>
		<servlet-class>Servlet2</servlet-class>
		<init-param>
			<param-name>A</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>B</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>s2</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>

</web-app>